[![movies](80s-movies.jpg)](80s-movies.jpg)

# What should I watch?

**Overview:**<br/>
Using movies & ratings datasets we will create two recommendation engine to predict what movies we should watch. Both engines will use **collaborative filtering** as the preferred method:
1. Item to item
2. Hybrid: User to user, followed by item to item

In a general sense, the engine will group similar users and similar items.

**Method:**<br/>
Typically, the workflow of a collaborative filtering system is:

1. A user expresses his or her preferences by rating items (e.g. books, movies or CDs) of the system. These ratings can be viewed as an approximate representation of the user's interest in the corresponding domain.[![melbourne]
2. The system matches this user's ratings against other users' and finds the people with most "similar" tastes.
3. With similar users, the system recommends items that the similar users have rated highly but not yet being rated by this user (presumably the absence of rating is often considered as the unfamiliarity of an item)

A key problem of collaborative filtering is how to combine and weight the preferences of user neighbors. Sometimes, users can immediately rate the recommended items. As a result, the system gains an increasingly accurate representation of user preferences over time. ~ Wikipedia (https://en.wikipedia.org/wiki/Collaborative_filtering)<br/><br/>
[![movies](met_21_4_493_fig1a.gif)](met_21_4_493_fig1a.gif)

**Dataset:**<br/>
The dataset can be found at: (https://www.kaggle.com/rounakbanik/the-movies-dataset)
<br/><br/>

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
#importing movie metadata and keep necessary columns
meta= pd.read_csv("movies_metadata.csv")
meta= meta[['id', 'original_title', 'original_language']]
meta= meta.rename(columns={'id':'movieId'})
meta = meta[meta['original_language']== 'en']
meta.head()

  movieId               original_title original_language
0     862                    Toy Story                en
1    8844                      Jumanji                en
2   15602             Grumpier Old Men                en
3   31357            Waiting to Exhale                en
4   11862  Father of the Bride Part II                en

In [3]:
#importing movie ratings and keep necessary columns
ratings= pd.read_csv("ratings.csv")
ratings= ratings[['userId', 'movieId', 'rating']]

# taking a 2.5MM sample because it can take too long to pivot data later on
ratings=ratings.head(2500000)

#convert data types before merging
meta.movieId =pd.to_numeric(meta.movieId, errors='coerce')
ratings.movieId = pd.to_numeric(ratings.movieId, errors= 'coerce')

#merge the 2 datasets, so that we can have the labels for the movie titles
data= pd.merge(ratings, meta, on='movieId', how='inner')
data.head()

   userId  movieId  rating        original_title original_language
0       1      858     5.0  Sleepless in Seattle                en
1       3      858     4.0  Sleepless in Seattle                en
2       5      858     5.0  Sleepless in Seattle                en
3      12      858     4.0  Sleepless in Seattle                en
4      20      858     4.5  Sleepless in Seattle                en

In [4]:
#pivot the table so that rows = users and columns = movies and the content is the ratings
matrix= data.pivot_table(index='userId', columns='original_title', values='rating')
matrix.head(10)

original_title,!Women Art Revolution,$5 a Day,'Gator Bait,'R Xmas,'Twas the Night Before Christmas,(A)Sexual,...And the Pursuit of Happiness,10 Items or Less,10 Things I Hate About You,"10,000 BC",...,Æon Flux,Бабник,Грозовые ворота,Дневник его жены,Мой сводный брат Франкенштейн,"Цирк сгорел, и клоуны разбежались",به امید دیدار,مارمولک,რამინი,黑太陽731
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check to see if the columns are not empty
print('Total ratings score of userId 1: ', matrix.iloc[0].sum())
print('Mean ratings score of userId 1: ', matrix.iloc[0].mean())
print('Ratings Count of userId 1: ', matrix.iloc[0].count())

Total ratings score of userId 1:  30.0
Mean ratings score of userId 1:  4.285714285714286
Ratings Count of userId 1:  7

In [6]:
# Pearson Correlation
def pearsonR(s1, s2):
    s1_c = s1-s1.mean()
    s2_c = s2-s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c**2) * np.sum(s2_c**2))

In [7]:
# Create watched list based on userId.
def has_watched(M, userid):
    watched = []
    t = M[M.index==userid].notnull()
    for c in t.columns:
        if t[c].values[0] == True:
            watched.append(c)
    return watched

# Collaborative filtering (item to item)

In [8]:
# The parameters here are: recently watched movie name, matrix name, number of recommendations, and userID.
def recommend(movie, M, n, userid):
    
    # A function called to create watched list based on userID & append recently watched movie
    watched = has_watched(M, userid)
    watched.append(movie)
    
    # A function to make N recommendations based on Pearson Correlation.
    reviews=[]
    for title in M.columns:
        if title in watched:
            continue
        cor = pearsonR(M[movie], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    # Sort the table of movies descending by similarity
    reviews.sort(key= lambda tup: tup[1], reverse=True)
    rev = pd.DataFrame(reviews[:n], columns=['Title', 'Score'])
    return rev

In [9]:
# Enter recently watched movies, number of recommendation and userID
recent_watch = 'RoboCop 3'
num_of_rec = 10
UID = 1

In [10]:
# Call recommendation function
rec = recommend(recent_watch, matrix, num_of_rec, UID)
print('User# {} watch history: {}'.format(UID, has_watched(matrix, UID)))
print('\nBased on the most recent watched movie {}, {} movies you might like:'.format(recent_watch, num_of_rec))
rec

User# 1 watch history: ['Fools Rush In', 'License to Wed', 'Rocky Balboa', 'Shriek If You Know What I Did Last Friday the Thirteenth', 'Shuang ma lian huan', 'Sleepless in Seattle', 'Young and Innocent']

Based on the most recent watched movie RoboCop 3, 10 movies you might like:

                         Title     Score
0                    RoboCop 2  0.585371
1         Happily N'Ever After  0.542837
2                   Fire Birds  0.452897
3                   Fred Claus  0.370503
4                     Papillon  0.368730
5  The Two Faces of Dr. Jekyll  0.362939
6       Hannah and Her Sisters  0.362792
7               Beyond the Sea  0.343165
8      Hannah Takes the Stairs  0.297294
9     The Phantom of the Opera  0.296282

It gave great recommendations based on what was recently watched, especially sensing that RoboCop 2 is a similar movie to RoboCop 3. 

**Please note:** This model does not look at a similarity between the names of the movie, it looks at the similarties between rating scores of the movies.

Let's try another example of item to item collaborative filtering:

In [11]:
# Enter recently watched movies, number of recommendation and userID
recent_watch = 'To Kill a Mockingbird'
num_of_rec = 10
UID = 3100

In [12]:
# Call recommendation function
rec = recommend(recent_watch, matrix, num_of_rec, UID)
print('User# {} watch history: {}'.format(UID, has_watched(matrix, UID)))
print('\nBased on the most recent watched movie {}, {} movies you might like:'.format(recent_watch, num_of_rec))
rec

User# 3100 watch history: ['5 Card Stud', 'A Nightmare on Elm Street', 'An Unfinished Life', 'And Then There Were None', 'Bad Boys II', 'Batman Returns', 'Berkeley Square', 'Big Fish', "Big Girls Don't Cry... They Get Even", 'Die Hard 2', 'Ghost Dog: The Way of the Samurai', 'Gleaming the Cube', 'Haker', 'Hour of the Gun', 'House of Dracula', 'Leben nach Microsoft', 'Many Rivers to Cross', 'Margaret Thatcher: The Long Walk to Finchley', 'Mega Python vs. Gatoroid', 'New York Doll', 'Pufnstuf', 'Seven Men from Now', 'Silent Hill', 'Sleepless in Seattle', 'Space Chimps 2: Zartog Strikes Back', 'The Dawn Patrol', 'The Garden of Eden', 'The Million Dollar Hotel', 'To Kill a Mockingbird', 'Vice Squad', 'Wag the Dog', "We're No Angels", 'Wedlock', 'xXx']

Based on the most recent watched movie To Kill a Mockingbird, 10 movies you might like:

            Title     Score
0    The Terminal  0.217002
1  Reservoir Dogs  0.183826
2          Psycho  0.172386
3  Night on Earth  0.168636
4   The Searchers  0.163432
5   Reign Over Me  0.162044
6         Titanic  0.156307
7       The Beach  0.156011
8         48 Hrs.  0.151396
9       The Hours  0.149796

The results, once more seems great, from a personal perspective I can say that I enjoyed "To Kill a Mockingbird" as well as the recommended movie list such as "The Terminal", "Reservoir Dogs" & etc...

[![movies](cognitive-bias_feature31.jpg)](cognitive-bias_feature31.jpg)

Item to item collaborative filtering, seems to be doing fairly well, however it doesn't take into account user scoring biased. For example the item to item filtering doesn't account for a harsh scorer or a user that always gives a high score.

The next method (recommendation engine), using **user to user, followed by item to item** collaborative filtering will remove the user bias by grouping similar users first then basing the recommendation by looking at similar items that they have watched. Simply this method is equivalent to saying "Birds of the same feather, flock together".

# Collaborative filtering (user to user, followed by item to item)

In [13]:
# The parameters here are: matrix name, number of similar users, and userID.
def recommend_sim_user(movie, M, n_user, n_rec, userid):
    
    # A function to make N recommendations based on Pearson Correlation.
    users=[]
    for u in range(0, len(M)):
        if u == userid - 1:
            continue
        cor = pearsonR(M.iloc[userid - 1], M.iloc[u])
        if np.isnan(cor):
            continue
        else:
            users.append((u, cor))
    
    # Sort the table of users descending by similarity
    users.sort(key= lambda tup: tup[1], reverse=True)
    usr = pd.DataFrame(users[:n_user], columns=['User', 'Score'])
    
    # Create new matrix with just the similar user to our user
    M2 = M[M.index.isin(usr.User.values)]
    
    # A function called to create watched list based on userID & append recently watched movie
    watched = has_watched(M, userid)
    watched.append(movie)
    
    # A function to make N recommendations based on Pearson Correlation.
    reviews=[]
    for title in M2.columns:
        if title in watched:
            continue
        cor = pearsonR(M2[movie], M2[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    # Sort the table of movies descending by similarity
    reviews.sort(key= lambda tup: tup[1], reverse=True)
    rev = pd.DataFrame(reviews[:n_rec], columns=['Title', 'Score'])
    
    return usr, rev

**Let's look at the same user:** (userId: 3100, & recently watched movie: To Kill A Mockingbird)

In [14]:
# Enter recently watched movies, number of similar users, number of recommendation and userID
recent_watch = 'To Kill a Mockingbird'
num_of_user = 100
num_of_rec = 10
UID = 3100

In [15]:
# Call recommendation function for user to user followed by item to item
usr, rec = recommend_sim_user(recent_watch, matrix, num_of_user, num_of_rec, UID)

# Print all the results
print('\nBased on what you have rated, below is the top 10 of {} users similar to you:'.format(num_of_user))
print(usr.head(10))
print('\n')
print('\nUser# {} watch history: {}'.format(UID, has_watched(matrix, UID)))
for n in range(0, 6):
    print('\nUser# {} watch history: {}'.format(usr.User[n], has_watched(matrix, usr.User[n])))
print('\n')
print('\nBased on the most recent watched movie {} & {} similar users, {} movies you might like:'.format(recent_watch,
                                                                                                         num_of_user,
                                                                                                         num_of_rec))
print(rec)

Based on what you have rated, below is the top 10 of 100 users similar to you:
    User     Score
0  10522  0.539608
1  10998  0.505299
2   9398  0.481475
3  13691  0.479702
4  22827  0.479702
5   3550  0.465840
6  15550  0.461593
7  12762  0.461227
8  23352  0.448775
9   3282  0.437938



User# 3100 watch history: ['5 Card Stud', 'A Nightmare on Elm Street', 'An Unfinished Life', 'And Then There Were None', 'Bad Boys II', 'Batman Returns', 'Berkeley Square', 'Big Fish', "Big Girls Don't Cry... They Get Even", 'Die Hard 2', 'Ghost Dog: The Way of the Samurai', 'Gleaming the Cube', 'Haker', 'Hour of the Gun', 'House of Dracula', 'Leben nach Microsoft', 'Many Rivers to Cross', 'Margaret Thatcher: The Long Walk to Finchley', 'Mega Python vs. Gatoroid', 'New York Doll', 'Pufnstuf', 'Seven Men from Now', 'Silent Hill', 'Sleepless in Seattle', 'Space Chimps 2: Zartog Strikes Back', 'The Dawn Patrol', 'The Garden of Eden', 'The Million Dollar Hotel', 'To Kill a Mockingbird', 'Vice Squad', 'Wag the Dog', "We're No Angels", 'Wedlock', 'xXx']

User# 10522 watch history: ['A Close Shave', 'A Perfect Murder', 'Beverly Hills Cop III', 'Birdman of Alcatraz', 'Broken Flowers', 'Dreamgirls', 'Escape from New York', 'Read It and Weep', 'Rebecca', 'The Bourne Identity', 'The Island', 'The Prisoner of Zenda', 'The Remains of the Day', 'The Wrong Trousers']

User# 10998 watch history: ['5 Card Stud', 'Beetlejuice', 'Dont Look Back', 'Hot Fuzz', 'House of 1000 Corpses', 'Ot 180 i Vyshe', 'Piranha 3DD', 'Roger & Me', 'The Getaway']

User# 9398 watch history: ['20,000 Leagues Under the Sea', '2001: A Space Odyssey', '28 Days Later', '48 Hrs.', 'A Clockwork Orange', 'A Close Shave', 'A Nightmare on Elm Street', 'A River Runs Through It', 'A Streetcar Named Desire', 'Alien', 'Aliens vs Predator: Requiem', 'Amadeus', 'Anatomy of a Murder', 'Armageddon', 'Arsenic and Old Lace', 'Back to the Future', 'Back to the Future Part II', 'Back to the Future Part III', 'Bandyta', 'Barton Fink', 'Batman Begins', 'Batman Returns', 'Bend It Like Beckham', 'Beverly Hills Cop', 'Beverly Hills Cop III', 'Big Fish', 'Blackmail', 'Blade Runner', 'Bonnie and Clyde', "Breakfast at Tiffany's", 'Bride of Frankenstein', 'Cat on a Hot Tin Roof', 'Chocolat', 'Citizen Kane', 'Cube', 'D.E.B.S.', 'Dancer in the Dark', "Dave Chappelle's Block Party", 'Dead Poets Society', 'Dial M for Murder', 'Diamonds Are Forever', 'Edward Scissorhands', 'Everything is Illuminated', 'Eyes Wide Shut', 'Faces', 'Faster, Pussycat! Kill! Kill!', 'Flashdance', 'Forrest Gump', 'Grizzly Man', 'Harry Potter and the Prisoner of Azkaban', 'High Noon', 'Jarhead', 'Judgment Night', 'Jurassic Park', 'Jurassic Park III', 'Kill Bill: Vol. 1', 'Klute', 'Live and Let Die', 'Lost in Translation', 'Love Actually', 'Lucky Number Slevin', 'Magnolia', 'Mala Noche', 'Mary Poppins', 'Mean Streets', 'Men in Black II', 'Monsters, Inc.', 'Moulin Rouge!', "Muriel's Wedding", 'My Life Without Me', 'My Own Private Idaho', 'Mystic River', 'Night on Earth', 'Notorious', 'Notting Hill', "Ocean's Eleven", "Ocean's Twelve", 'Once Were Warriors', 'Paradise Now', "Pirates of the Caribbean: Dead Man's Chest", 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Pocketful of Miracles', 'Predator 2', 'Psycho', 'Rain Man', 'Rebecca', 'Reservoir Dogs', 'Romeo + Juliet', 'Saw', 'Shaft', "Shaft's Big Score!", 'Shrek the Third', 'Silent Hill', 'Some Like It Hot', 'Stand by Me', 'Star Trek IV: The Voyage Home', 'Star Trek V: The Final Frontier', 'Star Trek: Generations', 'Star Wars', 'Strange Days', 'Sunrise: A Song of Two Humans', 'Syriana', 'Terminator 2: Judgment Day', 'Terminator 3: Rise of the Machines', 'The 39 Steps', 'The Conversation', 'The Curse of the Were-Rabbit', 'The Dark', 'The Day After Tomorrow', 'The Devil Wears Prada', 'The Endless Summer', 'The Fisher King', 'The Grapes of Wrath', 'The Green Mile', 'The Hours', 'The Killing', 'The King of Comedy', 'The Last Samurai', 'The Life Aquatic with Steve Zissou', 'The Lost World: Jurassic Park', 'The Man with the Golden Arm', 'The Million Dollar Hotel', 'The Outsiders', 'The Poseidon Adventure', 'The Silence of the Lambs', 'The Simpsons Movie', 'The Terminal', 'The Terminator', 'The War of the Roses', 'The Wrong Trousers', "There's Something About Mary", 'Titanic', 'To Be or Not to Be', 'To Catch a Thief', 'To Kill a Mockingbird', 'Transamerica', 'True Romance', 'Underworld', 'Vertigo', 'Wag the Dog', 'Willy Wonka & the Chocolate Factory', 'Young Adam']

User# 13691 watch history: ['Chill Factor', 'Kill Bill: Vol. 2', 'The Good Shepherd']

User# 22827 watch history: ['Fools Rush In', 'My Name Is Bruce', 'Short Cuts', 'The Gift']

User# 3550 watch history: ['2001: A Space Odyssey', '48 Hrs.', 'High Noon', 'Live and Let Die', 'Night on Earth', "Ocean's Eleven", 'Silent Hill', 'Terminator 3: Rise of the Machines', 'The Hours', 'The Million Dollar Hotel']



Based on the most recent watched movie To Kill a Mockingbird & 100 similar users, 10 movies you might like:
                                               Title     Score
0                                       Ask the Dust  0.658013
1                                Lost in Translation  0.510220
2                                     Reservoir Dogs  0.469255
3  Shriek If You Know What I Did Last Friday the ...  0.464805
4                                      Secret Window  0.446563
5                                 Young and Innocent  0.416339
6                                          Blackmail  0.412931
7                                        Bring It On  0.408798
8                            A Brief History of Time  0.396753
9                                          Rambo III  0.396753

The result is pretty robust as it provides users of similar interest/scoring style, it appears that the movies recommended have more of a a similar complex plot line.

Let's try a different genre: **Action Genre.**

In [16]:
# Enter recently watched movies, number of similar users, number of recommendation and userID
recent_watch = "Ocean's Eleven"
num_of_user = 100
num_of_rec = 10
UID = 20

In [17]:
# Call recommendation function for user to user followed by item to item
usr, rec = recommend_sim_user(recent_watch, matrix, num_of_user, num_of_rec, UID)

# Print all the results
print('\nBased on what you have rated, below is the top 10 of {} users similar to you:'.format(num_of_user))
print(usr.head(10))
print('\n')
print('\nUser# {} watch history: {}'.format(UID, has_watched(matrix, UID)))
for n in range(0, 6):
    print('\nUser# {} watch history: {}'.format(usr.User[n], has_watched(matrix, usr.User[n])))
print('\n')
print('\nBased on the most recent watched movie {} & {} similar users, {} movies you might like:'.format(recent_watch,
                                                                                                         num_of_user,
                                                                                                         num_of_rec))
print(rec)

Based on what you have rated, below is the top 10 of 100 users similar to you:
    User     Score
0  16567  0.309535
1   7784  0.295344
2   4635  0.278431
3   6817  0.275870
4   5512  0.272383
5  12228  0.272283
6   3964  0.262696
7  20062  0.260626
8   7593  0.253012
9   8667  0.247563



User# 20 watch history: ['48 Hrs.', '5 Card Stud', 'A Bridge Too Far', 'Abraham', 'And Then There Were None', 'Barking Water', 'Batman Returns', 'Blood: The Last Vampire', 'Bridge to Terabithia', 'Bring It On', 'Broken Blossoms', 'Cars', 'Color of Night', 'Con Air', 'Conquest of the Planet of the Apes', 'Die Hard 2', 'Edward, My Son', 'Eyes Wide Shut', 'Get Carter', 'Gods and Monsters', 'House of Dracula', 'Indestructible Man', "Jacob's Ladder", 'James Dean', 'Jay and Silent Bob Strike Back', 'Leningrad', 'Letter from an Unknown Woman', 'License to Wed', 'Longitude', 'Memoirs of an Invisible Man', 'MouseHunt', "Ocean's Eleven", 'Pleasantville', 'Reign Over Me', 'Rope', 'Schock', 'Silent Hill', 'Sleepless in Seattle', 'Terminator 3: Rise of the Machines', 'The 39 Steps', 'The Bank Dick', 'The Beach', 'The Dawn Patrol', 'The Departed', 'The Garden of Eden', 'The Getaway', 'The Great American Girl Robbery', 'The Great Outdoors', 'The Pawnshop', 'The Pink Panther', 'The Poseidon Adventure', 'The Prisoner of Zenda', 'The Searchers', 'The Shipping News', 'The Thomas Crown Affair', 'Tipping the Velvet', 'To Kill a Mockingbird', 'Top of the Food Chain', "We're No Angels", 'Wish You Were Here', 'Young Frankenstein']

User# 16567 watch history: ['...And the Pursuit of Happiness', '28 Weeks Later', '48 Hrs.', '5 Card Stud', 'A Bridge Too Far', 'A River Runs Through It', 'A Tale of Two Cities', 'Abraham', 'Amelia', 'American Graffiti', 'Ask the Dust', 'Bad Boys II', 'Batman Returns', 'Beverly Hills Cop III', 'Black Rain', 'Blood: The Last Vampire', 'Bring It On', 'Broken Flowers', 'Carmen Jones', 'Carnage', 'Carry On Screaming', 'Carts of Darkness', 'Category 6: Day of Destruction', 'Color of Night', 'Conquest of the Planet of the Apes', 'Dawn of the Dead', 'Dawn of the Mummy', 'Death Machine', 'Delta Force 3: The Killing Game', 'Die Frau mit den 5 Elefanten', 'Don Q Son of Zorro', "Don't Make Waves", 'Double Indemnity', 'Dragon Hunter', 'Everyday Sunshine:  The Story of Fishbone', 'Exodus', 'Fever Pitch', 'Finding Nemo', 'Four Lions', 'Get Carter', 'Ghost Rider', 'Gleaming the Cube', 'Gods and Monsters', "Gray's Anatomy", 'Greed', 'Halloween', 'Hard Candy', 'Harry Potter and the Prisoner of Azkaban', 'Heathers', 'Helen', 'High Noon', 'Houseboat', 'Idle Hands', 'In Time', 'Incident at Oglala', 'Joe Versus the Volcano', 'Kingdom of Heaven', 'Ladybug Ladybug', 'Leningrad', 'License to Wed', 'Light of Day', 'Longitude', 'Lost in Translation', 'Love Potion No. 9', 'Married to the Mob', 'Martha – Meet Frank, Daniel and Laurence', 'McQ', 'Men Without Women', 'Mishima: A Life in Four Chapters', 'Miss Cast Away', 'Modern Times', 'Mosquito Squadron', 'Mrs. Doubtfire', 'Murder She Said', "My Best Friend's Wedding", 'No Reservations', 'Notting Hill', "Ocean's Twelve", 'Once Were Warriors', 'Parole Violators', 'Pleasantville', 'Point Break', 'Read It and Weep', 'Reality Bites', 'Rebecca', 'Reservoir Dogs', 'Romance', 'Romeo Must Die', 'Rope', 'Savior', 'Say Anything...', 'Silent Hill', 'Sommersby', 'Speed 2: Cruise Control', 'Spymate', 'St. Louis Blues', 'Steppenwolf', 'Stranger Than Fiction', 'Supermarket', 'Tess of the Storm Country', 'The 39 Steps', 'The 7 Adventures of Sinbad', 'The Baroness and the Butler', 'The Beach', 'The Big Fix', 'The Blood of Fu Manchu', 'The Chronicles of Riddick: Dark Fury', 'The Conversation', 'The Crowd', 'The Curse of Frankenstein', 'The Ewok Adventure', 'The Goddess', 'The Good Thief', 'The Great American Girl Robbery', 'The Guardsman', 'The Halliday Brand', 'The Hours', 'The Hucksters', 'The Hunchback of Notre Dame', 'The Last Samurai', 'The Machinist', 'The Man with the Golden Arm', 'The Million Dollar Hotel', 'The Next Best Thing', 'The Out-of-Towners', 'The Pawnshop', 'The Poseidon Adventure', 'The Sixth Sense', 'The Thomas Crown Affair', 'The Wedding Planner', 'To Kill a Mockingbird', 'Tony Rome', 'Tuesdays with Morrie', 'Very Annie Mary', 'X-Men Origins: Wolverine', 'Young and Innocent']

User# 7784 watch history: ['Krull', 'Minority Report', 'The Pawnshop', 'The Projected Man']

User# 4635 watch history: ['Cyberjack', 'Die Hard', 'Dont Look Back', 'Forbidden Planet', 'Malcolm X', 'Married to the Mob', 'Terminator 3: Rise of the Machines', 'The Contract', 'The Thirteenth Floor', "There's Only One Jimmy Grimble"]

User# 6817 watch history: ['Arlington Road', 'Bridge to Terabithia', 'Cat on a Hot Tin Roof', 'Closer', 'Hostel', 'Kill Bill: Vol. 1', 'Monsters, Inc.', 'Notorious', 'Scarface', 'The Million Dollar Hotel', 'The Most Dangerous Game', 'The Wrong Trousers']

User# 5512 watch history: ['2001: A Space Odyssey', '28 Days Later', '28 Weeks Later', '300', '48 Hrs.', '9 Songs', 'A Brief History of Time', 'A Clockwork Orange', 'A Close Shave', 'A Nightmare on Elm Street', 'A River Runs Through It', 'A Time to Kill', 'Ae Fond Kiss...', 'Airplane!', 'Alien', 'Aliens vs Predator: Requiem', "All the King's Men", "All the President's Men", 'Almost Famous', 'Amadeus', 'American Graffiti', 'Arlington Road', 'Armageddon', 'Austin Powers in Goldmember', 'Back to the Future Part II', 'Bandyta', 'Batman & Robin', 'Batman Returns', 'Because I Said So', 'Bend It Like Beckham', 'Big Fish', 'Blackmail', 'Blood: The Last Vampire', 'Bollywood/Hollywood', 'Bonnie and Clyde', 'Boyz n the Hood', "Breakfast at Tiffany's", 'Bridge to Terabithia', 'Bring It On', 'Cape Fear', 'Carry On Screaming', 'Cars', 'Casablanca', 'Casino', 'Cat on a Hot Tin Roof', 'Catch Me If You Can', 'Catwoman', 'Changing Lanes', 'Chelsea Girls', 'Clean, Shaven', 'Comanche Station', 'Con Air', 'Conquest of the Planet of the Apes', 'Cool Hand Luke', 'Cool as Ice', 'Cutthroat Island', 'Dancer in the Dark', "Dave Chappelle's Block Party", 'Dawn of the Dead', 'Dead Poets Society', 'Die Hard', 'Die Hard 2', 'Dirty Dancing', 'Dogtown and Z-Boys', 'Donnie Darko', 'Dont Look Back', 'Double Indemnity', 'Down by Law', 'Dragonslayer', 'Edward Scissorhands', 'Escape from New York', 'Escape from the Planet of the Apes', 'Everything is Illuminated', 'Face/Off', 'Fahrenheit 9/11', 'Falstaff', 'Farewell, My Lovely', 'Faster, Pussycat! Kill! Kill!', 'Fever Pitch', 'Fight Club', 'Flashdance', 'Forbidden Planet', 'Forces of Nature', 'Fried Green Tomatoes', 'Full Metal Jacket', 'Get Carter', 'Ghost Rider', 'Gleaming the Cube', 'Good Morning, Vietnam', 'Good Will Hunting', 'Greed', 'Gremlins 2: The New Batch', 'Halloween', 'Hard Target', 'Harold and Maude', 'Heavenly Creatures', 'High Noon', 'Hitman', 'Houseboat', 'Human Nature', 'Imagine Me & You', 'Indiana Jones and the Last Crusade', 'Interview with the Vampire', 'Iron Man', 'Jarhead', 'Judgment Night', 'Killing Zoe', 'Klute', 'Last Days', 'Le Professionnel', 'Liar Liar', 'Live and Let Die', 'Lock, Stock and Two Smoking Barrels', 'Lolita', 'Lost in Translation', 'Love Actually', 'Madagascar', 'Meet the Parents', 'Meet the Robinsons', 'Men in Black II', 'Million Dollar Baby', 'Minority Report', 'Mission: Impossible', 'Mississippi Burning', 'Monsters, Inc.', "Mr. Bean's Holiday", 'Mrs. Doubtfire', "Muriel's Wedding", 'Night at the Museum', 'Night on Earth', 'Notes on a Scandal', "Ocean's Eleven", 'Office Space', 'Once Were Warriors', "One Flew Over the Cuckoo's Nest", 'Parenthood', "Pirates of the Caribbean: Dead Man's Chest", 'Point Break', 'Population 436', 'Psycho', 'Rain Man', 'Rambo III', 'Rebecca', 'Rent', 'Reservoir Dogs', 'Riding Giants', 'Rio Bravo', 'Rocky', 'Rocky Balboa', 'Rocky II', 'Roman Holiday', 'Romeo + Juliet', 'Rope', "Rosemary's Baby", 'Saw II', 'School of Rock', 'Secret Window', 'Shaft in Africa', 'Shanghai Express', 'Short Cuts', 'Shortbus', 'Shrek the Third', 'Silent Hill', 'Sleepless in Seattle', 'Snatch', 'Sommersby', 'Speed 2: Cruise Control', 'Spy Game', 'Star Trek IV: The Voyage Home', 'Star Trek: Generations', 'Star Wars', 'Stranger Than Fiction', 'Straw Dogs', 'Street Kings', 'Sunrise: A Song of Two Humans', 'Superstar: The Karen Carpenter Story', 'Sweet Sixteen', 'Terminator 3: Rise of the Machines', 'The 39 Steps', 'The Birds', 'The Boys from County Clare', 'The China Syndrome', 'The Cincinnati Kid', 'The Contract', 'The Conversation', 'The Dark', 'The Departed', 'The Devil Wears Prada', 'The Endless Summer', 'The Forbidden Kingdom', 'The Fountain', 'The Good German', 'The Good Shepherd', 'The Grapes of Wrath', 'The Green Mile', 'The Hi-Lo Country', 'The Hours', 'The Interpreter', 'The Island', 'The Lady Vanishes', 'The Living Daylights', 'The Lord of the Rings: The Fellowship of the Ring', 'The Lord of the Rings: The Return of the King', 'The Lost World: Jurassic Park', 'The Matrix Revolutions', 'The Million Dollar Hotel', 'The Next Best Thing', 'The Reaping', 'The Spy Who Loved Me', 'The Talented Mr. Ripley', 'The Terminal', 'The Terminator', 'The Thing', 'The Third Man', 'The Thirteenth Floor', 'The Vanishing', 'The War of the Roses', 'The Way of the Gun', 'The X Files', 'Thelma & Louise', "There's Only One Jimmy Grimble", 'Titanic', 'To Catch a Thief', 'To Die For', 'To Kill a Mockingbird', 'Trouble in Paradise', 'Underworld', 'Videodrome', 'Viva Zapata!', 'Wag the Dog', 'War of the Worlds', 'Whale Rider', 'When Saturday Comes', 'Willy Wonka & the Chocolate Factory', 'Young Adam']

User# 12228 watch history: ['A Clockwork Orange', 'A Nightmare on Elm Street', 'Aliens vs Predator: Requiem', 'American Graffiti', 'Batman & Robin', 'Batman Begins', 'Big Fish', 'Blackmail', 'Eyes Wide Shut', 'Jarhead', 'Lost in Translation', 'Men in Black II', 'Notorious', 'Paradise Found', 'Reservoir Dogs', 'Silent Hill', 'Star Trek IV: The Voyage Home', 'Star Trek V: The Final Frontier', 'Star Wars', 'Straw Dogs', 'Terminator 3: Rise of the Machines', 'The Conversation', 'The Dark', 'The Endless Summer', 'The Hours', 'The Living Daylights', 'Titanic', 'To Kill a Mockingbird', 'Underworld', 'Young Adam']



Based on the most recent watched movie Ocean's Eleven & 100 similar users, 10 movies you might like:
                                          Title     Score
0                                        Hitman  0.840797
1                                        Casino  0.826394
2                                The Terminator  0.826394
3                                  Viva Zapata!  0.788961
4                                        Lolita  0.748714
5                           Yankee Doodle Dandy  0.723095
6                               Men in Black II  0.651593
7                               Rosemary's Baby  0.625322
8                 Twin Peaks: Fire Walk with Me  0.622571
9  Star Wars: Episode III - Revenge of the Sith  0.619795

Once more, the result is prety robust as the users are watching similar movies and the recommendation of movies really captures this cluster of users: Action genre.

Let's dig deeper and use a sub-genre: **Action/Sci-Fi Genre.**

In [18]:
# Enter recently watched movies, number of similar users, number of recommendation and userID
recent_watch = 'Batman Returns'
num_of_user = 100
num_of_rec = 10
UID = 504

In [19]:
# Call recommendation function for user to user followed by item to item
usr, rec = recommend_sim_user(recent_watch, matrix, num_of_user, num_of_rec, UID)

# Print the results
print('\nBased on what you have rated, below is the top 10 of {} users similar to you:'.format(num_of_user))
print(usr.head(10))
print('\n')
print('\nUser# {} watch history: {}'.format(UID, has_watched(matrix, UID)))
for n in range(0, 6):
    print('\nUser# {} watch history: {}'.format(usr.User[n], has_watched(matrix, usr.User[n])))
print('\n')
print('\nBased on the most recent watched movie {} & {} similar users, {} movies you might like:'.format(recent_watch,
                                                                                                         num_of_user,
                                                                                                         num_of_rec))
print(rec)

Based on what you have rated, below is the top 10 of 100 users similar to you:
    User     Score
0  23626  0.500944
1   8946  0.461846
2  18668  0.459796
3  18784  0.427457
4  16573  0.404469
5    719  0.403113
6   2743  0.397475
7  21761  0.368440
8   7407  0.362062
9   7589  0.347548



User# 504 watch history: ['48 Hrs.', 'Back to the Future Part II', 'Batman Returns', 'Lost in Translation', "Ocean's Eleven", 'Rain Man', 'Reservoir Dogs', 'Romeo + Juliet', 'Silent Hill', 'Syriana', 'Terminator 3: Rise of the Machines', 'The Conversation', 'The Hours', 'The Million Dollar Hotel']

User# 23626 watch history: ['2001: A Space Odyssey', '48 Hrs.', 'A Clockwork Orange', 'A Nightmare on Elm Street', 'A River Runs Through It', 'Aliens vs Predator: Requiem', 'Armageddon', 'Back to the Future', 'Back to the Future Part II', 'Batman Returns', 'Bend It Like Beckham', 'Big Fish', 'Blackmail', 'Bollywood/Hollywood', 'Bonnie and Clyde', 'D.E.B.S.', 'Dancer in the Dark', "Dave Chappelle's Block Party", 'Donnie Darko', 'Faster, Pussycat! Kill! Kill!', 'Four Rooms', 'High Noon', 'Judgment Night', 'Lost in Translation', 'Love Actually', 'Night on Earth', 'Notting Hill', "Ocean's Eleven", 'Once Were Warriors', 'Psycho', 'Rain Man', 'Reservoir Dogs', 'Romeo + Juliet', 'Shaft in Africa', 'Silent Hill', 'Star Wars', 'Syriana', 'Terminator 2: Judgment Day', 'Terminator 3: Rise of the Machines', 'The Conversation', 'The Dark', 'The Devil Wears Prada', 'The Endless Summer', 'The Grapes of Wrath', 'The Hours', 'The Last Samurai', 'The Million Dollar Hotel', 'The Terminal', 'Titanic', 'To Catch a Thief', 'To Kill a Mockingbird', 'Underworld']

User# 8946 watch history: ['Blood: The Last Vampire', 'Boogie Nights', 'Bridge to Terabithia', 'Local Color', 'Once Were Warriors', 'Psycho', 'Rise of the Zombies', 'Rocky Balboa', 'Say Anything...', 'Silent Hill', 'Sleepless in Seattle', 'To Kill a Mockingbird']

User# 18668 watch history: ['20,000 Leagues Under the Sea', '28 Weeks Later', 'A Clockwork Orange', 'A Dandy in Aspic', 'A Kiss Before Dying', 'A River Runs Through It', 'And Then There Were None', 'Bad Boys II', 'Beetlejuice', 'Fools Rush In', 'Hollywoodland', 'Houseboat', 'License to Wed', 'Longitude', 'Loose Screws', 'Point Break', 'Say Anything...', 'Scarface', 'Terminator 3: Rise of the Machines', 'The Conversation', 'The Curse of the Were-Rabbit', 'The Halliday Brand', 'The Man with the Golden Arm', 'The Mikado', 'The Million Dollar Hotel', 'The Redeemer: Son of Satan!', 'The Thirteenth Floor', 'Tibet: Cry of the Snow Lion', 'Tomorrow Never Dies', 'Visions of Europe', "We're No Angels"]

User# 18784 watch history: ['Bandyta', 'Cat on a Hot Tin Roof', 'Hollywoodland', 'Hostel', 'Meet the Robinsons', 'Rocky III', 'The Grapes of Wrath', 'The Great Dictator', 'The Thomas Crown Affair']

User# 16573 watch history: ['Back to the Future Part II', "Dave Chappelle's Block Party", 'Forces of Nature', 'Get Carter', 'Indiana Jones and the Temple of Doom', "Ocean's Eleven", 'Pacific Heights', 'Say Anything...', 'Short Circuit', 'Sweet Sixteen', 'The Million Dollar Hotel', 'The Philadelphia Story', 'The Searchers', 'X-Men Origins: Wolverine']

User# 719 watch history: ['5 Card Stud', 'A Kiss Before Dying', 'A Man, a Woman and a Bank', 'A Time to Kill', 'And Then There Were None', 'Anne of the Indies', 'Arena', 'Austin High', 'Bad Boys II', 'Barking Water', 'Batman Returns', 'Bell, Book and Candle', 'Berkeley Square', "Big Girls Don't Cry... They Get Even", 'Blood: The Last Vampire', 'Boat', 'Brake', 'Bridesmaids', 'Bring It On', 'Confessions of an Ugly Stepsister', 'Contraband', 'Dawn of the Dead', 'Daydream Believers: The Monkees Story', 'Dear Frankie', 'Deux frères', 'Die Frau mit den 5 Elefanten', 'Dollman vs. Demonic Toys', 'Don Q Son of Zorro', 'Dragon Hunter', 'Fail-Safe', 'Flaming Creatures', 'Foodfight!', 'Fools Rush In', 'Haker', 'Heart of the Country', 'Hellgate', 'Hidalgo', 'High and Dizzy', 'Homeless to Harvard: The Liz Murray Story', 'House of Boys', 'House of Dracula', 'Hra o jablko', 'Indestructible Man', "Jacob's Ladder", 'Judex', 'K-19: The Widowmaker', 'Kill Bill: Vol. 2', 'Kulman pojat', 'Kurukshetra', 'Ladybug Ladybug', 'License to Wed', 'Live and Let Die', 'Longitude', 'Loose Screws', 'Lost in Translation', 'Love Is the Devil: Study for a Portrait of Francis Bacon', 'Mad Max 2', 'Margaret Thatcher: The Long Walk to Finchley', 'Martha – Meet Frank, Daniel and Laurence', 'Mega Python vs. Gatoroid', 'Million Dollar Baby', 'Monster High', "My Best Friend's Wedding", 'My Name Is Joe', 'New York Doll', 'Once Were Warriors', 'Point Break', 'Rio Sex Comedy', 'Rocky Balboa', 'Rope', 'Sang Pemimpi', 'Say Anything...', 'Scorpio', 'Shuang ma lian huan', 'Silent Hill', 'Sleepless in Seattle', 'Space Chimps 2: Zartog Strikes Back', 'Star 80', 'Syriana', 'Terminator 3: Rise of the Machines', 'The 13th Warrior', 'The Anniversary', 'The Assassination Bureau', 'The Bunker', 'The Conversation', 'The Dawn Patrol', 'The Fearless Vampire Killers', 'The Garden of Eden', 'The Goddess', 'The Good Thief', 'The Haunted', 'The Hire: Beat the Devil', 'The Million Dollar Hotel', 'The Patriot', 'The Redeemer: Son of Satan!', 'The Searchers', 'The Three Musketeers', 'The Wearing of the Grin', 'This Is 40', 'Titanic', 'Top of the Food Chain', 'Transamerica', 'Treasure of the Yankee Zephyr', 'Twin Peaks: Fire Walk with Me', 'Vice Squad', 'Young and Innocent']



Based on the most recent watched movie Batman Returns & 100 similar users, 10 movies you might like:
                                           Title     Score
0                      A Nightmare on Elm Street  0.531976
1                     Terminator 2: Judgment Day  0.511166
2  The Lord of the Rings: The Return of the King  0.488054
3                                 Ocean's Twelve  0.440267
4                                  Batman Begins  0.429988
5                           The Living Daylights  0.427851
6                                       Shortbus  0.417365
7                                      Star Wars  0.415356
8                               Imagine Me & You  0.414867
9                              The Fifth Element  0.410578

Again, the result is robust as the users are watching similar movies. The recommendation of movies really captures this cluster of users: **Action/Sci-Fi genre.** It also specifically recommends another Batman movie in addition to movies such as Star Wars, The Lord of the Rings, The Fifth Element, & Terminator 2, please note that it would have recommended Terminator 3, however the user has already watched this. 

[![movies](maxresdefault.jpg)](maxresdefault.jpg)